<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gov.redhawk.ide.codegen.ui.codegenPages">
      <codegenPage
            compositeClass="gov.redhawk.ide.codegen.frontend.ui.FrontEndGeneratorDisplayFactory"
            id="gov.redhawk.ide.codegen.ui.FrontEndGeneratorDisplayFactory"
            name="Front End Generator Wizard Pages"
            wizardClass="gov.redhawk.ide.codegen.frontend.ui.FrontEndGeneratorDisplayFactory">
         <codegenId
               targetCodegenId="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusGenerator">
         </codegenId>
      </codegenPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.codegen.frontend.ui.wizard.FrontEndDeviceWizard"
            descriptionImage="icons/etool16/newprj_wiz.gif"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.codegen.frontend.ui.newfridevicewizard"
            name="SCA Front End Device Project"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.codegen.frontend.ui.newfridevicewizard">
      </primaryWizard>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.ui.codegenTemplatePages">
      <codegenTemplatePage
            id="gov.redhawk.ide.codegen.ui.FrontEndGeneratorDisplayFactory"
            name="Front End Generator Wizard Pages"
            wizardClass="gov.redhawk.ide.codegen.frontend.ui.FrontEndGeneratorTemplateDisplayFactory">
         <codegenTemplateId
               targetCodegenTemplateId="redhawk.codegen.jinja.cpp.component.frontend">
         </codegenTemplateId>
         <codegenTemplateId
               targetCodegenTemplateId="redhawk.codegen.jinja.java.component.frontend">
         </codegenTemplateId>
         <codegenTemplateId
               targetCodegenTemplateId="redhawk.codegen.jinja.python.component.frontend">
         </codegenTemplateId>
      </codegenTemplatePage>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.prf.ui.editor.page.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.frontend.ui.command.settings"
               icon="icons/gear_16x.gif"
               label="Edit FrontEnd Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <test
                        forcePluginActivation="true"
                        property="gov.redhawk.ide.codegen.frontend.ui.propertyTool">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.spd.internal.ui.editor.implementation.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.frontend.ui.command.settings"
               icon="icons/gear_16x.gif"
               label="Edit FrontEnd Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <test
                        forcePluginActivation="true"
                        property="gov.redhawk.ide.codegen.frontend.ui.propertyTool">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.spd.internal.ui.editor.overview.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.frontend.ui.command.settings"
               icon="icons/gear_16x.gif"
               label="Edit FrontEnd Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <test
                        forcePluginActivation="true"
                        property="gov.redhawk.ide.codegen.frontend.ui.propertyTool">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ide.ui.category"
            defaultHandler="gov.redhawk.ide.codegen.frontend.ui.EditFrontEndInterfacesSettingsHandler"
            id="gov.redhawk.ide.codegen.frontend.ui.command.settings"
            name="Edit FrontEnd Properties">
      </command>
   </extension>
   <extension
         id="gov.redhawk.ide.codgen.natures.frontend"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="gov.redhawk.ide.codegen.frontend.ui.FrontEndProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="gov.redhawk.ide.codegen.frontend.ui.FrontEndPropertyTester"
            id="gov.redhawk.ide.codegen.frontend.ui.propertyTester"
            namespace="gov.redhawk.ide.codegen.frontend.ui"
            properties="propertyTool"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   
</plugin>
