<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gov.redhawk.ide.codegen.ui.codegenPages">
      <codegenPage
            compositeClass="gov.redhawk.ide.codegen.frontend.ui.FrontEndGeneratorDisplayFactory"
            id="gov.redhawk.ide.codegen.ui.FrontEndGeneratorDisplayFactory"
            name="Front End Generator Wizard Pages"
            wizardClass="gov.redhawk.ide.codegen.frontend.ui.FrontEndGeneratorDisplayFactory">
         <codegenId
               targetCodegenId="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusGenerator">
         </codegenId>
      </codegenPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.codegen.frontend.ui.wizard.FrontEndDeviceWizard"
            descriptionImage="icons/etool16/newprj_wiz.gif"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.codegen.frontend.ui.newfridevicewizard"
            name="SCA Front End Device Project"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.codegen.frontend.ui.newfridevicewizard">
      </primaryWizard>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.ui.codegenTemplatePages">
      <codegenTemplatePage
            id="gov.redhawk.ide.codegen.ui.FrontEndGeneratorDisplayFactory"
            name="Front End Generator Wizard Pages"
            wizardClass="gov.redhawk.ide.codegen.frontend.ui.FrontEndGeneratorTemplateDisplayFactory">
         <codegenTemplateId
               targetCodegenTemplateId="redhawk.codegen.jinja.cpp.component.frontend">
         </codegenTemplateId>
      </codegenTemplatePage>
   </extension>
   
</plugin>
