<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="gov.redhawk.ide.codegen.ui.preferences.CodegenPreferencePage"
            class="gov.redhawk.ide.codegen.jinja.ui.preferences.JinjaPreferencePage"
            id="gov.redhawk.ide.codegen.jinja.ui.preferences.CodegenPreferencePage"
            name="Jinja Generation">
      </page>
   </extension>

</plugin>
