<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            associatedPerspectiveId="org.python.pydev.ui.PythonPerspective"
            autoGenerate="false"
            class="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            id="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            language="Python"
            languageVersion="2.4"
            name="Python Code Generator"
            notDefaultable="false"
            priority="high"
            runtime="python"
            runtimeVersion="2.4.4">
         <description>
            Integrated &apos;redhawk-codegen&apos; Python code generator for components, devices and services.
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
            class="gov.redhawk.ide.codegen.jinja.python.template.DefaultPythonTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.python.component.pull"
            name="Pull Port Data"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            This is the generator for Python components and devices.
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jinja.python.template.DefaultPythonTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.python.service"
            name="Default Service"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="service">
         </componenttype>
         <description>
            Standard Python service.
         </description>
      </template>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            codegenref="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            factory="gov.redhawk.ide.codegen.jet.python.PythonLaunchConfigurationFactory"
            id="gov.redhawk.ide.codegen.jinja.python.launchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.codegen.jet.python.launchComponent">
      </launchConfigurationFactory>
   </extension>

</plugin>
