<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            associatedPerspectiveId="org.python.pydev.ui.PythonPerspective"
            autoGenerate="false"
            class="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            id="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            language="Python"
            languageVersion="2.6"
            name="Python Code Generator"
            notDefaultable="false"
            priority="high"
            runtime="python"
            runtimeVersion="2.6.6">
         <description>
            Integrated &apos;redhawk-codegen&apos; Python code generator for components, devices and services.
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
            class="gov.redhawk.ide.codegen.jinja.python.template.DefaultPythonTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.python.component.pull"
            name="Pull Port Data"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            This is the generator for Python components and devices.
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jinja.python.template.DefaultPythonTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.python.service"
            name="Default Service"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="service">
         </componenttype>
         <description>
            Standard Python service.
         </description>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jinja.python.template.DefaultPythonTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.python.component.frontend"
            name="Front End Device Template"
            notDefaultable="true"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="device">
         </componenttype>
         <description>
            A template to aid in development of a Front End Interfaces compliant device.
         </description>
      </template>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            codegenref="gov.redhawk.ide.codegen.jinja.python.PythonGenerator"
            factory="gov.redhawk.ide.codegen.jet.python.PythonLaunchConfigurationFactory"
            id="gov.redhawk.ide.codegen.jinja.python.launchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.codegen.jet.python.launchComponent">
      </launchConfigurationFactory>
   </extension>
   <extension
         id="Legacy JET Python Generator Extension Points"
         name="Legacy JET Python Generator Extension Points"
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            associatedPerspectiveId="org.python.pydev.ui.PythonPerspective"
            autoGenerate="false"
            class="gov.redhawk.ide.codegen.jet.python.GeneratorStub"
            deprecated="true"
            humanLanguage="en"
            id="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            language="Python"
            languageVersion="2.4.4"
            name="Legacy JET Python Code Generator"
            notDefaultable="false"
            priority="normal"
            runtime="python"
            runtimeVersion="2.4.4">
         <description>
            This is the Jet generator for Python components and devices.
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
      </codegen>
   </extension>
   <extension
         id="Legacy JET Python Template Extension Points"
         name="Legacy JET Python Template Extension Points"
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.TemplateStub"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.codegen.jet.python.pattern.ManualTemplate"
            name="Manual Generation"
            notDefaultable="true"
            selectable="true"
            usesPortTemplates="false">
         <description>
            By default this only prepares the project for future Python development and generates askeleton outline of methods that need to be implemented.
         </description>
         <property
               default_value="TRUE"
               key="generate_skeleton"
               name="Generate skeleton code"
               required="true">
            <description>
               Whether or not to generate a skeleton code implementation
            </description>
         </property>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.TemplateStub"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.codegen.jet.python.pattern.MinimalTemplate"
            name="Minimal Implementation"
            notDefaultable="true"
            selectable="true"
            usesPortTemplates="false">
         <description>
            Generates two files - one that contains ports and properties and another where you can extend their functionality
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.TemplateStub"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.codegen.jet.python.pattern.PullPortDataTemplate"
            name="Pull Port Data"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="true">
         <description>
            This is the Jet generator for Python components and devices.
         </description>
         <property
               default_value="FALSE"
               deprecated="true"
               key="auto_start"
               name="Auto Start the Component"
               required="true">
            <description>
               By enabling this option, the waveform will automatically begin processing data as soon as it is installed.
            </description>
         </property>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.TemplateStub"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.codegen.jet.python.pattern.MinimalServiceTemplate"
            name="Minimal Generator"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            A minimal service generator.
         </description>
         <componenttype
               type="service">
         </componenttype>
      </template>
   </extension>

</plugin>
