<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>
   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            associatedPerspectiveId="org.python.pydev.ui.PythonPerspective"
            autoGenerate="false"
            class="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            humanLanguage="en"
            id="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            language="Python"
            languageVersion="2.4.4"
            name="Legacy JET Python Code Generator"
            notDefaultable="false"
            priority="normal"
            runtime="python"
            runtimeVersion="2.4.4">
         <description>
            This is the Jet generator for Python components and devices.
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.LegacyTemplate"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            name="Legacy Project"
            notDefaultable="true"
            selectable="false"
            usesPortTemplates="false">
         <description>
            This is the Jet generator for Python components and devices.
         </description>
         <property
               default_value="FALSE"
               deprecated="true"
               key="auto_start_component"
               name="Auto Start the Component"
               required="false">
            <description>
               By enabling this option, the waveform will automatically begin processing data as soon as it is installed.
            </description>
         </property>
         <property
               default_value="FALSE"
               key="use_old_style"
               name="Use Legacy Pattern"
               required="false">
            <description>
               The old style makes use of an external file where all processing is designated.
            </description>
         </property>
         <property
               default_value="TRUE"
               key="work_module"
               name="Use Work Module"
               required="false">
            <description>
               Set this to true if you want to use a work module for your processing. Only valid with&quot;Use Legacy Pattern&quot; set to true.
            </description>
         </property>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.ManualTemplate"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.codegen.jet.python.pattern.ManualTemplate"
            name="Manual Generation"
            notDefaultable="true"
            selectable="true"
            usesPortTemplates="false">
         <description>
            By default this only prepares the project for future Python development and generates askeleton outline of methods that need to be implemented.
         </description>
         <property
               default_value="TRUE"
               key="generate_skeleton"
               name="Generate skeleton code"
               required="true">
            <description>
               Whether or not to generate a skeleton code implementation
            </description>
         </property>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.MinimalTemplate"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.codegen.jet.python.pattern.MinimalTemplate"
            name="Minimal Implementation"
            notDefaultable="true"
            selectable="true"
            usesPortTemplates="false">
         <description>
            Generates two files - one that contains ports and properties and another where you can extend their functionality
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.PullPortDataTemplate"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.codegen.jet.python.pattern.PullPortDataTemplate"
            name="Pull Port Data"
            notDefaultable="false"
            portCodegenId="gov.redhawk.ide.codegen.jet.python.portHandler"
            selectable="true"
            usesPortTemplates="true">
         <description>
            This is the Jet generator for Python components and devices.
         </description>
         <property
               default_value="FALSE"
               deprecated="true"
               key="auto_start"
               name="Auto Start the Component"
               required="true">
            <description>
               By enabling this option, the waveform will automatically begin processing data as soon as it is installed.
            </description>
         </property>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.WorkModuleTemplate"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.codegen.jet.python.pattern.WorkModuleTemplate"
            name="Work Module Processor"
            notDefaultable="false"
            selectable="false"
            usesPortTemplates="false">
         <description>
            This is the Jet generator for Python components and devices.
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.python.pattern.MinimalServiceTemplate"
            codegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.codegen.jet.python.pattern.MinimalServiceTemplate"
            name="Minimal Generator"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            A minimal service generator.
         </description>
         <componenttype
               type="service">
         </componenttype>
      </template>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.portGenerator">
      <portHandler
            class="gov.redhawk.ide.codegen.jet.python.ports.PullPortTemplate"
            id="gov.redhawk.ide.codegen.jet.python.portHandler"
            name="Default Python Port Generator"
            pullInputData="true">
         <description>
            This is the default REDHAWK provided port generator. It uses the Pull Data pattern for port generation.
         </description>
         <interfaces>
            <portInterface
                  idlInterface="IDL:BULKIO/.*:1.0">
            </portInterface>
            <portInterface
                  idlInterface="IDL:REDHAWK/.*:1.0">
            </portInterface>
         </interfaces>
         <language
               name="Python">
         </language>
      </portHandler>
      <portHandler
            class="gov.redhawk.ide.codegen.jet.python.ports.PropertyChangeEventPortTemplate"
            id="gov.redhawk.ide.codegen.jet.python.propertyChangeEventPortHandler"
            name="Property Change Event Channel Port Generator"
            pullInputData="false">
         <description>
            This port generator creates a port to handle Property Change Events from an Event Channel.
         </description>
         <interfaces>
            <portInterface
                  idlInterface="IDL:omg.org/CosEventChannelAdmin/EventChannel:1.0">
            </portInterface>
         </interfaces>
         <language
               name="Python">
         </language>
      </portHandler>
   </extension>
   <extension
         id="gov.redhawk.ide.codegen.jet.python.sourceinclude"
         name="REDHAWK C++ auto-inclusion builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false"
            isConfigurable="false">
         <run
               class="gov.redhawk.ide.codegen.jet.python.PythonSourceInclude">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="gov.redhawk.ide.codegen.jet.python.LocalPythonComponentDelegate"
            id="gov.redhawk.ide.codegen.jet.python.launchComponent"
            modes="run, debug, interactive"
            name="Local Python Component"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            codegenref="gov.redhawk.ide.codegen.jet.python.PythonGenerator"
            factory="gov.redhawk.ide.codegen.jet.python.PythonLaunchConfigurationFactory"
            id="gov.redhawk.ide.codegen.jet.python.launchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.codegen.jet.python.launchComponent">
      </launchConfigurationFactory>
   </extension>


</plugin>
