<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            autoGenerate="false"
            class="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusGenerator"
            compiler="/usr/bin/gcc"
            compilerVersion="4.1.2"
            humanLanguage="EN"
            id="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusGenerator"
            language="C++"
            languageVersion="0"
            name="C++ Code Generator"
            notDefaultable="false"
            priority="high">
         <description>
            Integrated &apos;redhawk-codegen&apos; C++ code generator for components and devices.
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <processor
               default="true"
               proc_type="x86">
         </processor>
         <processor
               default="true"
               proc_type="x86_64">
         </processor>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
      </codegen>
      <codegen
            autoGenerate="false"
            class="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusOctaveGenerator"
            compiler="/usr/bin/gcc"
            compilerVersion="4.1.2"
            hasSettings="true"
            humanLanguage="EN"
            id="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusOctaveGenerator"
            language="C++"
            languageVersion="0"
            name="C++ Octave Code Generator"
            notDefaultable="false"
            priority="normal">
         <description>
            Integrated&apos;redhawk-codegen&apos; Octave C++ code generator for components.
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <processor
               default="true"
               proc_type="x86">
         </processor>
         <processor
               default="true"
               proc_type="x86_64">
         </processor>
         <componenttype
               type="resource">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
            class="gov.redhawk.ide.codegen.jinja.cplusplus.template.DefaultCppTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.cpp.component.pull"
            name="Pull Port Data"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            This template will queue all data inside each input port. It is the developers responsibility to pull the data from the port's queue for processing.
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jinja.cplusplus.template.DefaultCppTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.cpp.service"
            name="Default Service"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="service">
         </componenttype>
         <description>
            Service code generator
         </description>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jinja.cplusplus.template.DefaultCppTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusOctaveGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.cpp.component.octave"
            name="Octave Pull Port Data"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            This template will queue all data inside each input port. It is the developers responsibility to pull the data from the port's queue for processing.
         </description>
         <componenttype
               type="resource">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jinja.cplusplus.template.DefaultCppTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.cpp.component.frontend"
            name="Front End Device Template"
            notDefaultable="true"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="device">
         </componenttype>
         <description>
            A template to aid in development of a Front End Interfaces compliant device.
         </description>
      </template>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            codegenref="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusGenerator"
            factory="gov.redhawk.ide.codegen.jet.cplusplus.CppLaunchConfigurationFactory"
            id="gov.redhawk.ide.codegen.jinja.cplusplus.launchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication">
      </launchConfigurationFactory>
   </extension>

</plugin>
