<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.octave.ui.wizard.NewOctaveScaResourceProjectWizard"
            descriptionImage="icons/etool16/newprj_wiz.gif"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.octave.ui.wizards.newoctavecomponent"
            name="REDHAWK Octave Project"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.octave.ui.wizards.newoctavecomponent">
      </primaryWizard>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.ui.codegenPages">
      <codegenPage
            compositeClass="gov.redhawk.ide.octave.ui.OctaveGeneratorDisplayFactory"
            id="gov.redhawk.ide.octave.ui.OctaveGeneratorDisplayFactory"
            name="Octave Generator Wizard Pages"
            wizardClass="gov.redhawk.ide.octave.ui.OctaveGeneratorDisplayFactory">
         <codegenId
               targetCodegenId="gov.redhawk.ide.codegen.jinja.cplusplus.CplusplusOctaveGenerator">
         </codegenId>
      </codegenPage>
   </extension>
   <extension
         id="gov.redhawk.ide.codgen.natures.octave"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="gov.redhawk.ide.octave.ui.OctaveProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
