<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.4"?>
<plugin>
     <extension
         id="reconfParser"
         name="Reconf Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            id="gov.redhawk.ide.codegen.cpp.reconfParser"
            name="Reconf Error Parser">
         <pattern
               description-expr="$3"
               eat-processed-line="true"
               file-expr="$1"
               line-expr="$2"
               regex="(.*?):(\d+): installing (`|&apos;)(.*)&apos;"
               severity="Ignore">
         </pattern>
         <context
               type="build">
         </context>
      </errorparser>
   </extension>
   <extension
         id="gov.redhawk.ide.codegen.jet.cplusplus.builder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false"
            isConfigurable="false">
         <run
               class="gov.redhawk.ide.codegen.cplusplus.CplusplusBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication"
            name="%launchConfigurationType.name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="gov.redhawk.ide.codegen.jet.cplusplus.LocalCppCDILaunchDelegate"
            id="gov.redhawk.ide.codegen.jet.cplusplus.launchDelegate"
            modes="run"
            name="%launchDelegate.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication">
      </launchDelegate>
      <launchDelegate
            delegate="gov.redhawk.ide.codegen.jet.cplusplus.LocalCppGdbLaunchDelegate"
            id="gov.redhawk.ide.codegen.jet.cplusplus.launchDelegateDebug"
            modes="debug"
            name="%launchDelegateDebug.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication">
      </launchDelegate>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            codegenref="gov.redhawk.ide.codegen.jet.cplusplus.CplusplusGenerator"
            factory="gov.redhawk.ide.codegen.jet.cplusplus.CppLaunchConfigurationFactory"
            id="gov.redhawk.ide.codegen.jet.cplusplus.launchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication">
      </launchConfigurationFactory>
   </extension>

</plugin>
