<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>

   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            associatedPerspectiveId="org.eclipse.cdt.ui.CPerspective"
            autoGenerate="false"
            class="gov.redhawk.ide.codegen.jet.cplusplus.CplusplusGenerator"
            compiler="/usr/bin/gcc"
            compilerVersion="4.1.2"
            deprecated="true"
            humanLanguage="EN"
            id="gov.redhawk.ide.codegen.jet.cplusplus.CplusplusGenerator"
            language="C++"
            languageVersion="0"
            name="Legacy JET C++ Code Generator"
            notDefaultable="false"
            priority="normal">
         <description>
            This is the Jet generator for C++ components and devices.
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <processor
               default="true"
               proc_type="x86">
         </processor>
         <processor
               default="true"
               proc_type="x86_64">
         </processor>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
            class="gov.redhawk.ide.codegen.jet.cplusplus.pattern.TemplateStub"
            codegenId="gov.redhawk.ide.codegen.jet.cplusplus.CplusplusGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.codegen.jet.cplusplus.ManualTemplate"
            name="Manual Generator"
            notDefaultable="true"
            selectable="true"
            usesPortTemplates="false">
         <description>
            By default this only prepares the project for future C++ development and generates a basic component outline.
         </description>
         <property
               default_value="TRUE"
               key="generate_skeleton"
               name="Generate Skeleton Code"
               required="true">
            <description>
               Selecting this option will generate basic skeleton code.
            </description>
         </property>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jet.cplusplus.pattern.TemplateStub"
            codegenId="gov.redhawk.ide.codegen.jet.cplusplus.CplusplusGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.codegen.jet.cplusplus.PullPortDataTemplate"
            name="Pull Port Data"
            notDefaultable="false"
            portCodegenId="gov.redhawk.ide.codegen.jet.cplusplus.portHandler"
            selectable="true"
            usesPortTemplates="true">
         <description>
            This template will queue all data inside each input port. It is the developers responsibility to pull the data from the port's queue for processing.
         </description>
         <property
               default_value="FALSE"
               deprecated="true"
               key="auto_start"
               name="Auto Start the Component"
               required="true">
            <description>
               When this property is set, the generated code's initialize function is tied to the start function, which in turn starts the processing thread. 
	When the property is not set, the start function needs to be explicitly called to start the processing thread.
            </description>
         </property>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
      </template>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication"
            name="%launchConfigurationType.name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="gov.redhawk.ide.codegen.jet.cplusplus.LocalCppCDILaunchDelegate"
            id="gov.redhawk.ide.codegen.jet.cplusplus.launchDelegate"
            modes="run"
            name="%launchDelegate.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication">
      </launchDelegate>
      <launchDelegate
            delegate="gov.redhawk.ide.codegen.jet.cplusplus.LocalCppGdbLaunchDelegate"
            id="gov.redhawk.ide.codegen.jet.cplusplus.launchDelegateDebug"
            modes="debug"
            name="%launchDelegateDebug.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication">
      </launchDelegate>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            codegenref="gov.redhawk.ide.codegen.jet.cplusplus.CplusplusGenerator"
            factory="gov.redhawk.ide.codegen.jet.cplusplus.CppLaunchConfigurationFactory"
            id="gov.redhawk.ide.codegen.jet.cplusplus.launchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.codegen.jet.cplusplus.launchComponentApplication">
      </launchConfigurationFactory>
   </extension>

</plugin>
