<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            autoGenerate="false"
            class="gov.redhawk.ide.codegen.jinja.java.JavaGenerator"
            compiler="/usr/bin/javac"
            compilerVersion="1.5"
            humanLanguage="EN"
            id="gov.redhawk.ide.codegen.jinja.java.JavaGenerator"
            language="Java"
            languageVersion="1.5"
            name="Java Code Generator"
            notDefaultable="false"
            priority="high"
            runtime="/usr/bin/java"
            runtimeVersion="1.5">
         <description>
            Integrated &apos;redhawk-codegen&apos; Java code generator for components, devices and services.
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
            class="gov.redhawk.ide.codegen.jinja.java.template.DefaultJavaTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.java.JavaGenerator"
            hasSettings="true"
            id="redhawk.codegen.jinja.java.component.pull"
            name="Pull Port Data (Base/Derived)"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            This template will queue all data inside each input port. It is the developers responsibility to pull the data from the port&apos;s queue for processing.

Generates a user-editable derived class and regeneratable base class.
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <property
               default_value=""
               key="java_package"
               name="Name of the Java package"
               required="true">
            <description>
               The package that the generated component should be named.
            </description>
         </property>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jinja.java.template.DefaultJavaTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.java.JavaGenerator"
            hasSettings="false"
            id="redhawk.codegen.jinja.java.service"
            name="Default Service"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="service">
         </componenttype>
         <description>
            Standard Java service.
         </description>
         <property
               default_value=""
               key="java_package"
               name="Name of the Java package"
               required="true">
            <description>
               The package that the generated component should be named.
            </description>
         </property>
      </template>
      <template
            class="gov.redhawk.ide.codegen.jinja.java.template.DefaultJavaTemplate"
            codegenId="gov.redhawk.ide.codegen.jinja.java.JavaGenerator"
            hasSettings="true"
            id="redhawk.codegen.jinja.java.component.jmerge"
            name="Pull Port Data (JMerge)"
            notDefaultable="false"
            selectable="false"
            usesPortTemplates="false">
         <description>
            This is a deprecated template that generates a single classfile that integrates generator changes using JMerge.

This template will queue all data inside each input port. It is the developers responsibility to pull the data from the port&apos;s queue for processing.
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <property
               default_value=""
               key="java_package"
               name="Name of the Java package"
               required="true">
            <description>
               The package that the generated component should be named.
            </description>
         </property>
         <property
               default_value="TRUE"
               deprecated="false"
               key="use_jni"
               name="Use JNI interfaces for BULKIO"
               required="true">
         </property>
      </template>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            codegenref="gov.redhawk.ide.codegen.jinja.java.JavaGenerator"
            factory="gov.redhawk.ide.codegen.jet.java.JavaLaunchConfigurationFactory"
            id="gov.redhawk.ide.codegen.jinja.java.launchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.codegen.jet.java.launching.localJavaComponent">
      </launchConfigurationFactory>
   </extension>

</plugin>
