<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="gov.redhawk.ide.sandbox.console.py.RHLocalConsoleFactory"
            icon="icons/RedHawk_Logo16x.gif"
            label="Python SCA Sandbox">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="gov.redhawk.ide.ui.category.sca_development"
            class="gov.redhawk.ide.sandbox.console.py.RHSandboxConsoleView"
            icon="icons/RedHawk_Logo16x.gif"
            id="gov.redhawk.ide.sandbox.console.py.view"
            name="Sandbox Console"
            restorable="true">
      </view>
   </extension>

</plugin>
