<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="gov.redhawk.ide.codegen.java.OssieHomeClasspathVariableInitializer"
            readOnly="true"
            variable="OSSIEHOME">
      </classpathVariableInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="gov.redhawk.ide.codegen.java.internal.OssieLibClasspathContainerInitializer"
            id="gov.redhawk.ide.codegen.java.ossieLib">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="gov.redhawk.ide.codegen.java.internal.SoftPkgRefClasspathContainerInitializer"
            id="gov.redhawk.ide.codegen.java.softPkgRef">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="gov.redhawk.ide.codegen.jet.java.JavaComponentLaunchDelegate"
            delegateDescription="%launchConfigurationType.delegateDescription"
            delegateName="%launchConfigurationType.delegateName"
            id="gov.redhawk.ide.codegen.jet.java.launching.localJavaComponent"
            migrationDelegate="org.eclipse.jdt.internal.launching.JavaMigrationDelegate"
            modes="run, debug"
            name="%launchConfigurationType.name"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.redhawk.gov/model/codegen">
         </package>
         <constraints
               categories="gov.redhawk.validation.category">
            <constraint
                  class="gov.redhawk.ide.codegen.jet.java.JavaPackageNameValidator"
                  id="java_package_error"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="%constraint.name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message
               </message>
               <target
                     class="ImplementationSettings">
                  <event
                        name="Set">
                     <feature
                           name="properties">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="properties">
                     </feature>
                  </event>
                  <event
                        name="Add">
                     <feature
                           name="properties">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="properties">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.ide.codegen.jet.java.JavaPackageNameConventionEnforcer"
                  id="java_package_warning"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  %constraint.message
               </message>
               <target
                     class="ImplementationSettings">
                  <event
                        name="Add">
                  </event>
                  <event
                        name="Remove">
                  </event>
                  <event
                        name="Set">
                  </event>
                  <event
                        name="Unset">
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            codegenref="gov.redhawk.ide.codegen.jet.java.JavaGenerator"
            factory="gov.redhawk.ide.codegen.jet.java.JavaLaunchConfigurationFactory"
            id="gov.redhawk.ide.codegen.jet.java.launchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.codegen.jet.java.launching.localJavaComponent">
      </launchConfigurationFactory>
   </extension>

</plugin>
